.container {
    display: flex;
    flex-direction: column; /* Располагаем элементы по вертикали */
    align-items: center; /* Центрируем элементы по горизонтали */
    height: 100vh; /* Задаем высоту контейнера */
    justify-content: center; /* Центрируем элементы по вертикали */
}

.counter {
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
    text-align: center; /* Центрируем текст счетчика */
}

.buttons {
    display: flex; /* Используем flex для кнопок */
    flex-direction: column; /* Располагаем кнопки по вертикали */
    align-items: center; /* Центрируем кнопки по горизонтали */
}

.button1, .button2, .button3 {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background-color: gray;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .button1, .button2, .button3 {
        width: 80px;
        height: 80px;
        font-size: 20px;
    }

    .counter {
        font-size: 20px;
    }
}